.contents__left
  .contents__left__menu
    %ul
      %li トップページ
      %li マイページ
      %li 出品する
      %li 出品中の商品一覧
      %li 売却済の商品一覧
      %li コメントがついた商品一覧
  .contents__left__menu
    %h3 各種設定
    %ul
      %li 会員情報の編集
      %li お届け先住所の編集
      - if current_user&.card
        %li= link_to "カード情報", new_card_path
      - else
        %li= link_to "カード情報登録", new_card_path
      %li= link_to "ログアウト", destroy_user_session_path,method: :delete
